<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>959765489293-9asp4gr78g6njvplsihd4sm587psqsq6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.959765489293-9asp4gr78g6njvplsihd4sm587psqsq6</string>
	<key>API_KEY</key>
	<string>AIzaSyDzFXrRFvrNfkg_QBsbNq_jD8T3viYNJdE</string>
	<key>GCM_SENDER_ID</key>
	<string>959765489293</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yossibank.engineermemo.development</string>
	<key>PROJECT_ID</key>
	<string>engineermemo-development</string>
	<key>STORAGE_BUCKET</key>
	<string>engineermemo-development.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959765489293:ios:5faa9ea6b74ea9597264c4</string>
</dict>
</plist>