<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDCTvgZiSb8PgT-cvs3c4QhTJiHkuHVNDI</string>
	<key>GCM_SENDER_ID</key>
	<string>792966543942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yossibank.engineermemo.development</string>
	<key>PROJECT_ID</key>
	<string>engineermemo-debug</string>
	<key>STORAGE_BUCKET</key>
	<string>engineermemo-debug.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:792966543942:ios:c0bdb77496fb2319042847</string>
</dict>
</plist>