<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>108535944157-s5cu0e52ggqckecqdt74r5ovsna5lnnf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.108535944157-s5cu0e52ggqckecqdt74r5ovsna5lnnf</string>
	<key>API_KEY</key>
	<string>AIzaSyDf0DozU-VHdS9bd4k7tOkipEriZ9U5Y3Y</string>
	<key>GCM_SENDER_ID</key>
	<string>108535944157</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yossibank.EngineerMemo</string>
	<key>PROJECT_ID</key>
	<string>engineermemo-cdee4</string>
	<key>STORAGE_BUCKET</key>
	<string>engineermemo-cdee4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:108535944157:ios:f168593906e9ea73ab9c34</string>
</dict>
</plist>