<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>852384473790-8mnumpu11t52ukfus9rrcfut7sc0gi7h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852384473790-8mnumpu11t52ukfus9rrcfut7sc0gi7h</string>
	<key>API_KEY</key>
	<string>AIzaSyC10TM4pv5hwkgArWQGUm-d6SrLq510JOM</string>
	<key>GCM_SENDER_ID</key>
	<string>852384473790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yossibank.EngineerResume</string>
	<key>PROJECT_ID</key>
	<string>engineerresume-66fcb</string>
	<key>STORAGE_BUCKET</key>
	<string>engineerresume-66fcb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852384473790:ios:3934ee5a360243ccd334ef</string>
</dict>
</plist>