<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1095979378582-ovcsjtgvdja9ld59ifub59ouqkktjjcr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1095979378582-ovcsjtgvdja9ld59ifub59ouqkktjjcr</string>
	<key>API_KEY</key>
	<string>AIzaSyCJRqBDdkG2dgprOdogidZfjgicYNIELM8</string>
	<key>GCM_SENDER_ID</key>
	<string>1095979378582</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yossibank.EngineerResume.dev</string>
	<key>PROJECT_ID</key>
	<string>engineerresume-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>engineerresume-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095979378582:ios:dec5324547b8bf09d45fb7</string>
</dict>
</plist>